// https://github.com/guru-digital/bootswatch-sass
// To use a theme in your Sass project, structure your imports in this order
//
// import the offial bootstrap-sass variables
// import bootswatch theme variables
// import offical bootstrap-sass
// import bootswatch theme additional file
// E.g - Importing the paper theme:
    //
    // @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
    // @import "bower_components/bootswatch-sass/paper/variables";
    // @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/bootstrap";
    // @import "bower_components/bootswatch-sass/paper/bootswatch-scss/readable/bootswatch";

@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bower_components/bootswatch-sass/superhero/variables";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bower_components/bootswatch-sass/superhero/bootswatch";
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.box-wall
{
    position: relative;
    top:90px;
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img
{
    width: 120px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.register
{
    text-align: center;
    display: block;
    margin-top: 10px;
}
