//https://github.com/twbs/bootstrap-sass#c-bower
//https://github.com/thomaspark/bootswatch

// @import "bower_components/bootswatch-scss/superhero/variables";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
// @import "bower_components/bootswatch-scss/superhero/bootswatch";

body {
  font-family: fantasy;
}

.container
{
  margin-top: 20px;
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin div
{
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.message-box
{
  position: relative;
  top:100px;
  width: auto;
}

.animated.shake
{
 -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
     -ms-animation-duration: 0.3s;
      -o-animation-duration: 0.3s;
         animation-duration: 0.3s;
}

.box-wall
{
    position: relative;
    top:90px;
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img
{
    width: 120px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.logo-img
{
    width: 40px;
    height: 40px;
    float: left;
    margin: 0px 5px 15px 15px;
    display: inline;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.auth-redirect-link
{
    text-align: center;
    display: block;
    margin-top: 10px;
}

// kind of weird, but bootswatch superhero didn't define .has-success and .has-error
.has-success {
  .form-control{
    border-color: #5cb85c;
  }
}

.has-error {
  .form-control{
    border-color: #d9534f;
  }
}

// fix the misplacement of the glyphicons in input boxes when labels are omitted
.has-feedback .form-control-feedback { top: 1px; }

// override .alert to make alert messages stack on each other
.alert{
  margin-bottom: 0px;
}
